.board {
    border: 2rem solid #000;
    background: #000;
    width: 500px;
    height: 500px;
    display: grid;
    grid-template: repeat(3, 1fr) / repeat(3, 1fr);
    gap: 1rem;
  }
  .squares {
    background: #fff;
    border: none;
    font-size: 5rem;
    cursor: pointer;
    outline: none;
  }
  